<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Loja Devops - Sua loja automatizada</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />


<style>
body {
	width: 100%;
	background-color: #fff;
}

.jumbotron {
	height: 80%;
	background-color: #fff;
}

.titulo {
	font-weight: bold;
	color: blue;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

#produtosmenu {
	
}
</style>

</head>

<body>


	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/produtos">Loja Devops</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Home </a> <a
						class="nav-item nav-link active" href="/produtos">Produtos <span
						class="sr-only">(current)</span></a>
				</div>
			</div>
		</nav>
	</div>
	<nav class="nav flex-column nav-pills nav-tabs">
		<a class="nav-link active" href="#">Active</a> <a class="nav-link"
			href="#">Link</a> <a class="nav-link" href="#">Link</a>
	</nav>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>